.admin_menu {
  list-style: none;
}
.admin_menu li {
  display: inline-block;
  text-align: center;
}
.prod_row_adm p {
  text-align: center;
}
.icon_style {
  color: #0b0cff;
  font-size: 20px;
  font-weight: 400;
}
.delete_prod_div,
.edit_prod_div {
  text-align: center;
}
.delete_prod_div:before {
  font-family: FontAwesome;
  content: "\f057";
  color: #0b0cff;
  font-size: 20px;
  font-weight: 400;
}
.edit_prod_div:before {
  font-family: FontAwesome;
  content: "\f044";
  color: #0b0cff;
  font-size: 20px;
  font-weight: 400;
}
