
<div class="row">
    <div class="col-md-6">
        <label for="title_inp">Title</label>
        <input id="title_inp" type="text">
        <label for="sm_img">Image for catalog</label>
        <input id="sm_img" type="file"">
        <label for="color_menu">Colors</label>
    </div>
    <div class="col-md-6">
        <label for="price_inp">Price</label>
        <input id="price_inp" type="text"">
        <label for="big_img">Image for card</label>
        <input id="big_img" type="file">
        <label for="size_menu">Sizes</label>
    </div>

    <div class="row margin_clear">
        <label for="descr_area" id="descr_area_lbl">Description</label>
        <textarea id="descr_area" cols="30" rows="5"></textarea>
        <div class="col-md-6">
            <label for="material_inp">Material</label>
            <input id="material_inp" type="text">
        </div>
        <div class="col-md-6">
            <label for="design_inp">Designer</label>
            <input id="design_inp" type="text">
        </div>
    </div>
</div>
