
<h2>Registration</h2>
<form action="registrationController/Index" method="GET">
    <p>Login</p>
    <input type="email" name="login">
    <p>Password</p>
    <input type="password" name="pass"><br><br>

    <button id="auth_btn">Войти</button>
</form>