<main>

    <div class="row margin_clear">
        <div class="col-md-12 padding_clear proport_block foto_brand_wrapper">
            <div id="foto_brand" class="proport_content">
                <div class="col-md-9 center-block float_clear">
                    <div class="red_line"></div>
                    <p class="foto_par lato_black black_font"><span>THE BRAND</span> <br> <span>OF LUXERIOUS </span>
                        <span class=pink_font>FASHION</span></p>
                </div>
            </div>

        </div>
    </div>

    <div class="row margin_clear">
        <div class="col-md-9 center-block float_clear news_container">
            <div class="jumbotron jumbo_clear center-block float_clear">

                <div class="news col-md-6">

                    <div class="men_kids_wrapper">
                        <div id="men" class="men_kids">
                            <div class="rect">
                                <p class="news_par lato_black">Hot deal <br> <span>for men</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="women_acces_wrapper">
                        <div id="acces" class="women_acces">
                            <div class="rect">
                                <p class="news_par lato_black">Luxirous &amp; trendy <br><span>accesories</span></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="news col-md-6 padding_left_clear">

                    <div class="women_acces_wrapper">
                        <div id="women" class="women_acces">
                            <div class="rect">
                                <p class="news_par lato_black">30% offer <br> <span>women</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="men_kids_wrapper">
                        <div id="kids" class="men_kids">
                            <div class="rect">
                                <p class="news_par lato_black">New arrivals <br> <span>for kids</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>


    <div class="row margin_clear">
        <div class="col-md-9 center-block float_clear">

            <a href="/catalogController/Index">
                <div id="browse_all">
                <div id="wrapper_for_btn_index">
                    <p class="lato_bold">Browse catalog</p>
                    <div id="right_arrow"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="row margin_clear">
        <div class="fever_block_md col-md-9 center-block float_clear">

            <div class="col-md-8 foto_wrap">
                <div id="offer_foto">
                    <p class="offer_par lato_bold"><span>30%</span> <span>offer</span> <br> <span>for woman</span></p>
                </div>
            </div>

            <div class="col-md-4 fever_wrap padding_clear">
                <div id="fever">
                    <div class="col-md-4 wrap_icons_fever_md">
                        <div class="car"></div>
                        <div class="pers"></div>
                        <div class="crown"></div>
                    </div>

                    <div class="col-md-8 wrap_par_fever">
                        <p class="lato_bold">Free Delivery</p>
                        <p class="lato_light">Worldwide delivery on all. Authorit tively morph next-generation innov
                            tion with extensive models.</p>

                        <p class="lato_bold">Sales &amp; discounts</p>
                        <p class="lato_light">Worldwide delivery on all. Authorit tively morph next-generation innov
                            tion with extensive models.</p>

                        <p class="lato_bold">Quality assurance</p>
                        <p class="lato_light">Worldwide delivery on all. Authorit tively morph next-generation innov
                            tion with extensive models.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


