<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap_col_15.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/site_css/content/index_adaptive.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="container">

        <div class="row margin_clear">
            <hr class="border_line">
            <header class="col-md-9 center-block float_clear">

                <div class="logo_and_browse_block">
                    <div class="logo"></div>
                    <p class="brand lato_light black_pink_par">BRAN<span class="lato_black">D</span></p>

                    <div class="btn-group browse_sel">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown">Browse<span class="caret"></span></button>
                        <ul class="dropdown-menu browse_drop_menu" role="menu">
                            <li class="section">
                                <a href="#">Women</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Dresses</a>
                            </li>
                            <li>
                                <a href="#">Tops</a>
                            </li>
                            <li><a href="#">Sweaters/Knits</a></li>
                            <li><a href="#">Jackets/Coats</a></li>
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Denim</a></li>
                            <li><a href="#">Leggings/Pants</a></li>
                            <li><a href="#">Skirts/Shorts</a></li>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                            <li class="section">
                                <a href="#">Men</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Tees/Tank tops</a>
                            </li>
                            <li>
                                <a href="#">Shirts/Polos</a>
                            </li>
                            <li>
                                <a href="#">Sweaters</a>
                            </li>
                            <li>
                                <a href="#">Sweatshirts/Hoodies</a>
                            </li>
                            <li>
                                <a href="#">Blazers</a>
                            </li>
                            <li>
                                <a href="#">Jackets/vests</a>
                            </li>
                        </ul>
                    </div>

                    <input type="text" placeholder="Search for item" id="search_input">


                    <div id="search_but">
                        <div id="seacrh"></div>
                    </div>


                    <div id="cart_block">

                        <div class="btn-group account">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <a href="#"></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>

                        <div id="cart"></div>
                    </div>
                </div>

            </header>
        </div>

        <hr class="border_line">

        <div class="row margin_clear">
            <nav class="col-md-9 center-block float_clear">
                <ul class="menu">
                    <li><a href="#">
                        Home
                    </a></li>
                    <li><a href="#">
                        Man
                    </a></li>
                    <li><a href="#">
                        Women
                    </a></li>
                    <li><a href="#">
                        Kids
                    </a></li>
                    <li><a href="#">
                        Accoseriese
                    </a></li>
                    <li><a href="#">
                        Featured
                    </a></li>
                    <li><a href="#">
                        Hot deals
                    </a></li>
                </ul>
            </nav>

        </div>


        <main>

            <div class="row margin_clear">
                <div class="col-md-12 padding_clear proport_block foto_brand_wrapper">
                    <div id="foto_brand" class="proport_content">
                        <div class="col-md-9 center-block float_clear">
                            <div class="red_line"></div>
                            <p class="foto_par lato_black black_font"><span>THE BRAND</span> <br> <span>OF LUXERIOUS </span> <span class=pink_font>FASHION</span></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row margin_clear">
                <div class="col-md-9 center-block float_clear news_container">
                    <div class="jumbotron jumbo_clear center-block float_clear">

                        <div class="news col-md-6">

                            <div class="men_kids_wrapper">
                                <div id="men" class="men_kids">
                                    <div class="rect">
                                        <p class="news_par lato_black">Hot deal <br> <span>for men</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="women_acces_wrapper">
                                <div id="acces" class="women_acces">
                                    <div class="rect">
                                        <p class="news_par lato_black">Luxirous &amp; trendy <br><span>accesories</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="news col-md-6 padding_left_clear">

                            <div class="women_acces_wrapper">
                                <div id="women" class="women_acces">
                                    <div class="rect">
                                        <p class="news_par lato_black">30% offer <br> <span>women</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="men_kids_wrapper">
                                <div id="kids" class="men_kids">
                                    <div class="rect">
                                        <p class="news_par lato_black">New arrivals <br> <span>for kids</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="row margin_clear">
                <div class="col-md-9 center-block float_clear par_container">
                    <p class="fet_it lato_bold black_font">Fetured Items</p>
                    <p class="shop_for lato_regular">Shop for items based on what we featured in this week</p>
                </div>
            </div>



            <div class="row margin_clear">

                <div class="col-md-9 center-block float_clear items_block">

                    <!--
                       
                   
                    -->
                    <div class="row item_row">

                        <div class="item col-md-3">
                            <div id="hover_block">
                                <div id="cart_block">
                                    <div id="white_cart"></div>
                                    <p id="add" class="lato_bold">Add to cart</p>
                                </div>
                            </div>
                            <img src="images/photos/item1.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>

                        <div class="item col-md-3">
                            <img src="images/photos/item2.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>

                        <div class="item col-md-3">
                            <img src="images/photos/item3.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>

                        <div class="item col-md-3">
                            <img src="images/photos/item4.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>
                    </div>

                    <div class="row item_row">
                        <div class="item col-md-3">
                            <img src="images/photos/item5.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>

                        <div class="item col-md-3">
                            <img src="images/photos/item6.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>

                        <div class="item col-md-3">
                            <img src="images/photos/item7.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>

                        <div class="item col-md-3">
                            <img src="images/photos/item8.jpg" alt="photo" class="fitems">
                            <p class="name lato_regular black_font">Mango people T-shirt</p>
                            <p class="price lato_bold pink_font">$52.00</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row margin_clear">
                <div class="col-md-9 center-block float_clear">

                    <div id="browse_all">
                        <p class="lato_bold">Browse All Product</p>
                        <div id="right_arrow"></div>
                    </div>
                </div>
            </div>


            <div class="row margin_clear">
                <div class="fever_block_md col-md-9 center-block float_clear">

                    <div class="col-md-8 foto_wrap">
                        <div id="offer_foto">
                            <p class="offer_par lato_bold"><span>30%</span> <span>offer</span> <br> <span>for woman</span></p>
                        </div>
                    </div>

                    <div class="col-md-4 fever_wrap padding_clear">
                        <div id="fever">
                            <div class="col-md-4 wrap_icons_fever_md">
                                <div class="car"></div>
                                <div class="pers"></div>
                                <div class="crown"></div>
                            </div>

                            <div class="col-md-8 wrap_par_fever">
                                <p class="lato_bold">Free Delivery</p>
                                <p class="lato_light">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>

                                <p class="lato_bold">Sales &amp; discounts</p>
                                <p class="lato_light">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>

                                <p class="lato_bold">Quality assurance</p>
                                <p class="lato_light">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row margin_clear">

                <div class="resp_block col-md-12">
                    <div class="resp col-md-6">
                        <div class="col-md-4 padding_right_clear">
                            <img src="images/icons/portr.png" alt="portret">
                        </div>
                        <div class="col-md-7">
                            <p class="responce lato_italic">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                            <p class="sig lato_bold"><span class="lato_light pink_font">Bin Burhan</span> <br> Dhaka, Bd</p>
                            <div class="lines_block">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="subscribe col-md-6">
                        <div class="col15-md-9">
                            <p class="lato_regular"><span>Subscribe</span> <br> FOR OUR NEWLETTER AND PROMOTION</p>

                            <form action="#">
                                <input type="email" placeholder="Enter Your Email" class="sub_input">
                                <button class="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </main>


    </div>

    <div id="container992">
        <div class="row margin_clear">
            <header class="header992 col-sm-12 padding_clear">
                <div class="jumbotron jumbo_clear header_wrapper">
                    <div class="col-sm-6 poster_block padding_left_clear">
                        <div id="poster_icon_wrapper">
                            <div class="black_div">
                                <div class="logo992"></div>
                            </div>
                            <div class="glass"></div>
                        </div>
                    </div>

                    <div class="col-sm-6 brand_block padding_right_clear">
                        <div id="brand_block_icon_wrapper">
                            <div class="black_div">
                                <div class="cart"></div>
                            </div>
                            <div class="men_icon"></div>
                            <div class="folder_menu"></div>
                        </div>
                        <div class="col-sm-9 wrapper_brand_par">
                            <div class="red_line"></div>
                            <p class="foto_par lato_black black_font"><span>THE BRAND</span> <br> <span>OF LUXERIOUS </span> <span class=pink_font>FASHION</span></p>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="row margin_clear">
            <main>

                <div class="row margin_clear">
                    <div class="col-sm-9 center-block float_clear categories_block">
                        <div class="row margin_clear">
                            <div class="jumbotron jumbo_clear">
                                <div class="col-sm-4 padding_left_clear categ_column">
                                    <div class="category_item_wrapper">
                                        <div id="men_sm" class="category_item">
                                            <p class="news_par lato_black">Hot deal <br> <span class="pink_font">for men</span></p>
                                            <hr class="categ_line">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 categ_column">
                                    <div class="category_item_wrapper">
                                        <div id="women_sm" class="category_item">
                                            <p class="news_par lato_black">30% offer <br> <span class="pink_font">women</span></p>
                                            <hr class="categ_line">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4  padding_right_clear categ_column">
                                    <div class="category_item_wrapper">
                                        <div id="kids_sm" class="category_item">
                                            <p class="news_par lato_black">New arrivals <br> <span class="pink_font">for kids</span></p>
                                            <hr class="categ_line">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin_clear">
                            <div class="col-sm-12 center-block float_clear category_item_wrapper">
                                <div id="luxirous_sm" class="long_category_item">
                                    <p class="news_par lato_black">Luxirous&amp;trendy <br><span class="pink_font">accesories</span></p>
                                    <hr class="categ_line">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin_clear">
                    <div class="col-sm-9 center-block float_clear par_container">
                        <p class="fet_it lato_bold black_font">Fetured Items</p>
                        <p class="shop_for lato_regular">Shop for items based on what we featured in this week</p>
                    </div>
                </div>

                <div class="row margin_clear">
                    <div class="col-sm-9 center-block float_clear product_block">

                        <div class="row margin_clear">
                            <div class="col-sm-4 product_item">
                                <div class="tall_item">
                                    <img src="images/index992/item1.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 product_item">
                                <div class="small_item">
                                    <img src="images/index992/item2.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 product_item last_item_in_row">
                                <div class="middle_item">
                                    <img src="images/index992/item3.jpg" alt="item">
                                    <div class="caption">
                                        <h3>HOUSE OF HARLOW KIMONO</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin_clear">
                            <div class="col-sm-4 product_item">
                                <div class="small_item">
                                    <img src="images/index992/item4.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 product_item">
                                <div class="tall_item">
                                    <img src="images/index992/item5.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi for this exclusive capsule collection.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 product_item last_item_in_row">
                                <div class="middle_item">
                                    <img src="images/index992/item6.jpg" alt="item">
                                    <div class="caption">
                                        <h3>HOUSE OF HARLOW KIMONO</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi for this exclusive capsule collection.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="row margin_clear">
                    <div class="col-sm-12 fever_block_sm">
                        <div class="col-sm-9 center-block float_clear icon_block">
                            <div class="col-sm-4">
                                <div class="car fever_icon"></div>
                                <p class="lato_bold title">Free Delivery</p>
                                <p class="lato_light fev_text">Worldwide delivery on all. Authorit tively morph <br>next-generation innov tion with extensive models.</p>
                            </div>

                            <div class="col-sm-4">
                                <div class="pers fever_icon"></div>
                                <p class="lato_bold title">Sales &amp; discounts</p>
                                <p class="lato_light fev_text">Worldwide delivery on all. Authorit tively morph <br>next-generation innov tion with extensive models.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="crown fever_icon"></div>
                                <p class="lato_bold title">Quality assurance</p>
                                <p class="lato_light fev_text">Worldwide delivery on all. Authorit tively morph <br>next-generation innov tion with extensive models.</p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row margin_clear">
                    <div class="col-sm-12 subscribe_and_logo">
                        <div class="col-sm-6">
                            <div class="col-sm-7 col-sm-offset-5 wrapper_logo">
                                <img class="logotype" src="images/index992/logo1.jpg" alt="logo">
                                <img class="logotype" src="images/index992/logo2.jpg" alt="logo">
                                <img class="logotype" src="images/index992/logo3.jpg" alt="logo">
                                <img class="logotype" src="images/index992/logo4.jpg" alt="logo">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <p class="lato_regular"><span>Subscribe</span> <br> FOR OUR NEWLETTER AND PROMOTION</p>

                            <form action="#">
                                <input type="email" placeholder="Enter Your Email" class="sub_input">
                                <button class="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--<div class="row margin_clear">
                    <div class="col-sm-12">
                        <div class="col-sm">
                            <div class="col-sm-5">
                                <img src="images/icons/portr.png" alt="portret">
                            </div>
                            <div class="col-sm-7">
                                <p class="responce lato_italic">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                                <p class="sig lato_bold"><span class="lato_light pink_font">Bin Burhan</span> <br> Dhaka, Bd</p>
                                <div class="lines_block">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row margin_clear">

                    <div class="resp_block col-sm-12">
                        <div class="resp col-sm-6">
                            <div class="col-sm-5">
                                <img src="images/icons/portr.png" alt="portret">
                            </div>
                            <div class="col-sm-7">
                                <p class="responce lato_italic">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                                <p class="sig lato_bold"><span class="lato_light pink_font">Bin Burhan</span> <br> Dhaka, Bd</p>
                                <div class="lines_block">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>

                        <div class="subscribe col-sm-6">
                            <div class="col15-sm-9">
                                <p class="lato_regular"><span>Subscribe</span> <br> FOR OUR NEWLETTER AND PROMOTION</p>

                                <form action="#">
                                    <input type="email" placeholder="Enter Your Email" id="sub_input">
                                    <button id="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>-->
            </main>
        </div>
    </div>

    <div class="row margin_clear">
        <div class="wrapper_info col-sm-9 col-md-9 center-block float_clear">
            <div class="col15-sm-15 col15-md-15 info_block padding_left_clear">
                <div class="col-15-sm-6 col15-md-6 info padding_left_clear">
                    <div class="logo"></div>
                    <p class="brand lato_light">BRAN<span class="lato_black pink_font">D</span></p>

                    <p class="text lato_light">Objectively transition extensive data rather than cross functional <br> solutions. Monotonectally syndicate multidisciplinary materials <br> before go forward benefits. Intrinsicly syndicate an expanded array <br> of processes and cross-unit partnerships. <br><br> Efficiently plagiarize 24/365 action items and focused infomediaries. <br>Distinctively seize superior initiatives for wireless technologies. <br> Dynamically optimize.</p>
                </div>

                <div class="col15-sm-3 col15-md-3 info_menu_block">
                    <ul class="info_menu">
                        <li class="menu_title">Company</li>
                        <a href="#">
                            <li>Home</li>
                        </a>
                        <a href="#">
                            <li>Shop</li>
                        </a>
                        <a href="#">
                            <li>About</li>
                        </a>
                        <a href="#">
                            <li>How it works</li>
                        </a>
                        <a href="#">
                            <li>Contact</li>
                        </a>
                    </ul>

                </div>
                <div class="col15-sm-3 col15-md-3">
                    <ul class="info_menu">
                        <li class="menu_title">Information</li>
                        <a href="#">
                            <li>Tearms&amp;Conditions</li>
                        </a>
                        <a href="#">
                            <li>Privacy Policy</li>
                        </a>
                        <a href="#">
                            <li>How to Buy</li>
                        </a>
                        <a href="#">
                            <li>How to Sell</li>
                        </a>
                        <a href="#">
                            <li>Promotion</li>
                        </a>
                    </ul>

                </div>
                <div class="col15-sm-3 col15-md-3">
                    <ul class="info_menu">
                        <li class="menu_title">Shop category</li>
                        <a href="#">
                            <li>Men</li>
                        </a>
                        <a href="#">
                            <li>Women</li>
                        </a>
                        <a href="#">
                            <li>Child</li>
                        </a>
                        <a href="#">
                            <li>Apparel</li>
                        </a>
                        <a href="#">
                            <li>Browse All</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin_clear">
        <footer class="col-sm-12 col-md-12">
            <div class="col-sm-9 col-md-9 center-block float_clear padding_clear">
                <p class="lato_regular">&copy; Brand All rights reserved.</p>
                <div class="share">
                    <a href="#">
                        <div class="icon_sq">
                            <div id="fbook"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon_sq">
                            <div id="twit"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon_sq">
                            <div id="in"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon_sq">
                            <div id="pent"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon_sq">
                            <div id="goog"></div>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>

</html>
