<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap_col_15.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="container">

        <div class="row margin_clear">
            <header class="header992 col-md-12 padding_clear">
                <div class="jumbotron jumbo_clear header_wrapper">
                    <div class="col-md-6 poster_block padding_left_clear">
                        <div id="poster_icon_wrapper">
                            <div class="black_div">
                                <div class="logo992"></div>
                            </div>
                            <div class="glass"></div>
                        </div>
                    </div>

                    <div class="col-md-6 brand_block padding_right_clear">
                        <div id="brand_block_icon_wrapper">
                            <div class="black_div">
                                <div class="cart"></div>
                            </div>
                            <div class="men_icon"></div>
                            <div class="folder_menu"></div>
                        </div>
                        <div class="col-md-9 wrapper_brand_par">
                            <div class="red_line"></div>
                            <p class="foto_par lato_black black_font"><span>THE BRAND</span> <br> <span>OF LUXERIOUS </span> <span class=pink_font>FASHION</span></p>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="row margin_clear">
            <main>

                <div class="row margin_clear">
                    <div class="col-md-9 center-block float_clear categories_block">
                        <div class="row margin_clear">
                            <div class="col-md-4 categ_column padding_left_clear">
                                <div class="categ_item_wrapper">
                                    <img src="images/index992/men.jpg">
                                    <div class="par_wrapper">
                                        <p class="news_par lato_black">Hot deal <br> <span class="pink_font">for men</span></p>
                                        <hr class="categ_line">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 categ_column">
                                <div class="categ_item_wrapper">
                                    <img src="images/index992/women.jpg">
                                    <div class="par_wrapper">
                                        <p class="news_par lato_black">30% offer <br> <span class="pink_font">women</span></p>
                                        <hr class="categ_line">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="categ_item_wrapper">
                                    <img src="images/index992/kids.jpg">
                                    <div class="par_wrapper">
                                        <p class="news_par lato_black">New arrivals <br> <span class="pink_font">for kids</span></p>
                                        <hr class="categ_line">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin_clear">
                            <div class="col-md-12 center-block float_clear long_item_wrapper">
                                <img src="images/index992/luxirous.jpg">
                                <div class="par_wrapper">
                                    <p class="news_par lato_black">Luxirous&amp;trendy <br><span class="pink_font">accesories</span></p>
                                    <hr class="categ_line">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row margin_clear">
                    <div class="col-md-9 center-block float_clear par_container">
                        <p class="fet_it lato_bold black_font">Fetured Items</p>
                        <p class="shop_for lato_regular">Shop for items based on what we featured in this week</p>
                    </div>
                </div>

                <div class="row margin_clear">
                    <div class="col-md-9 center-block float_clear product_block">

                        <div class="row margin_clear">
                            <div class="col-md-4 product_item">
                                <div class="tall_item">
                                    <img src="images/index992/item1.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 product_item">
                                <div class="small_item">
                                    <img src="images/index992/item2.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 product_item last_item_in_row">
                                <div class="middle_item">
                                    <img src="images/index992/item3.jpg" alt="item">
                                    <div class="caption">
                                        <h3>HOUSE OF HARLOW KIMONO</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin_clear">
                            <div class="col-md-4 product_item">
                                <div class="small_item">
                                    <img src="images/index992/item4.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 product_item">
                                <div class="tall_item">
                                    <img src="images/index992/item5.jpg" alt="item">
                                    <div class="caption">
                                        <h3>Ellery x M'O Capsule</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi for this exclusive capsule collection.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 product_item last_item_in_row">
                                <div class="middle_item">
                                    <img src="images/index992/item6.jpg" alt="item">
                                    <div class="caption">
                                        <h3>HOUSE OF HARLOW KIMONO</h3>
                                        <p class="descr_item">Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi for this exclusive capsule collection.</p>
                                        <p class="price_item">52$</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="row margin_clear">
                    <div class="col-md-12 fever_block_md">
                        <div class="col-md-9 center-block float_clear icon_block">
                            <div class="col-md-4">
                                <div class="car fever_icon"></div>
                                <p class="lato_bold title">Free Delivery</p>
                                <p class="lato_light fev_text">Worldwide delivery on all. Authorit tively morph <br>next-generation innov tion with extensive models.</p>
                            </div>

                            <div class="col-md-4">
                                <div class="pers fever_icon"></div>
                                <p class="lato_bold title">Sales &amp; discounts</p>
                                <p class="lato_light fev_text">Worldwide delivery on all. Authorit tively morph <br>next-generation innov tion with extensive models.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="crown fever_icon"></div>
                                <p class="lato_bold title">Quality assurance</p>
                                <p class="lato_light fev_text">Worldwide delivery on all. Authorit tively morph <br>next-generation innov tion with extensive models.</p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row margin_clear">
                    <div class="col-md-12 subscribe_and_logo">
                        <div class="col-md-6">
                            <div class="col-md-7 col-md-offset-5 wrapper_logo">
                                <img class="logotype" src="images/index992/logo1.jpg" alt="logo">
                                <img class="logotype" src="images/index992/logo2.jpg" alt="logo">
                                <img class="logotype" src="images/index992/logo3.jpg" alt="logo">
                                <img class="logotype" src="images/index992/logo4.jpg" alt="logo">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p class="lato_regular"><span>Subscribe</span> <br> FOR OUR NEWLETTER AND PROMOTION</p>

                            <form action="#">
                                <input type="email" placeholder="Enter Your Email" class="sub_input">
                                <button class="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--<div class="row margin_clear">
                    <div class="col-md-12">
                        <div class="col-md">
                            <div class="col-md-5">
                                <img src="images/icons/portr.png" alt="portret">
                            </div>
                            <div class="col-md-7">
                                <p class="responce lato_italic">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                                <p class="sig lato_bold"><span class="lato_light pink_font">Bin Burhan</span> <br> Dhaka, Bd</p>
                                <div class="lines_block">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row margin_clear">

                    <div class="resp_block col-md-12">
                        <div class="resp col-md-6">
                            <div class="col-md-5">
                                <img src="images/icons/portr.png" alt="portret">
                            </div>
                            <div class="col-md-7">
                                <p class="responce lato_italic">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                                <p class="sig lato_bold"><span class="lato_light pink_font">Bin Burhan</span> <br> Dhaka, Bd</p>
                                <div class="lines_block">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>

                        <div class="subscribe col-md-6">
                            <div class="col15-md-9">
                                <p class="lato_regular"><span>Subscribe</span> <br> FOR OUR NEWLETTER AND PROMOTION</p>

                                <form action="#">
                                    <input type="email" placeholder="Enter Your Email" id="sub_input">
                                    <button id="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>-->
            </main>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>

</html>
